<h1>TEMPLATE B</h1>
<style>
  body {background-color:blue}
  h1   {color:red}
  p    {color:yellow}
</style>
<h1>THIS CONTENT COMES FROM TEMPLATE.HTML</h1>
<p id="line1">Original Line 1 from template</p>